<?php echo $scripts_for_layout; ?>
<script type="text/javascript"><?php echo $this->fetch('content'); ?></script>
<?php echo $javascript->link('jquery-2.1.0.js', FALSE); ?>
<script type="text/javascript">
    $(document).ready(function() {
        $('#')
    })

</script>
