/*
 * jQuery Blueberry Slider v0.4 BETA
 * http://marktyrrell.com/labs/blueberry/
 *
 * Copyright (C) 2011, Mark Tyrrell <me@marktyrrell.com>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 */

.blueberry { margin: 0 auto; position: relative; height: 100%;}
.blueberry .slides {
	display: block;
	position: relative;
	overflow: hidden;
}

.blueberry .slides li {
	position: absolute;
	top: 0;
	left: 0;
}

.blueberry .slides li img {
	display: block;
	width: 100%;
	max-width: none;
}

.blueberry .slides li.active { display: block; position: relative; }
.blueberry .crop li img { width: auto; }

.blueberry .pager {
	display: block;
	position: absolute;
	right: 10px;
	bottom: 10px;
	text-align: right;
	width: 51px !important;
}

.blueberry .pager {
	height: 20px;
}

.blueberry .pager li {
	display: block;
	float: left !important;
}

.blueberry .pager li a,
.blueberry .pager li a span {
	display: block !important;
	float: left !important;
	height: 12px;
	text-align: left;
	text-indent: -999999 !important;
	width: 12px;
}

.blueberry .pager li a {
	margin-left: 5px;
-webkit-border-radius: 12px;
   -moz-border-radius: 12px;
	border-radius: 12px;
}

.blueberry .pager li a span {
	overflow: hidden;
	background: #fff;
	background: rgba(255,255,255,0.5);
	text-indent: -9999px;
-webkit-border-radius: 12px;
   -moz-border-radius: 12px;
	border-radius: 12px;
}

.blueberry .pager li.active a span { background: #bda700; background: rgba(189,167,0,1); }
