@charset 'utf-8';

/* TOC style.css

00 - Reset
01 - General
02 - Gridpak
03 - Layout
04 - Mobile
05 - Desktop

--------------------------------------- */


/* Reset 
--------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, textarea,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

a, :focus { 
  outline: 0;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

blockquote, q {
  quotes: '„' '“' '‚' '‘';
}

abbr[title] {
  border-bottom: 1px dotted #000 !important;
  cursor: help;
}

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.clearfix {
  display: inline-block;
}

/* Hides from IE-mac \*/ 
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */



/* General 
--------------------------------------- */

html, body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  font-size: 100%;
  font-weight: bold;
}

h1, h2 {
  font-size: 18px;
  margin: 0;
}

p {
  line-height: 130%;
  margin-bottom: 15px;
}

button, button span, .submit, .submit span,
a, a span, label {
  cursor: pointer;
}

a {
  text-decoration: none;
} 

a:focus, a:hover {
  text-decoration: none;
}

textarea {
  resize: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

img, figure, figure img {
  margin: 0;
  padding: 0;
}

img, figure img, figure canvas {
  vertical-align: middle;
}

figure, canvas {
  display: block;
}



/* Gridpak
--------------------------------------- */

.col {
  border:0px solid rgba(0,0,0,0);    
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  -moz-background-clip:padding-box !important;
  -webkit-background-clip:padding-box !important;
  background-clip:padding-box !important;
}

.col {
  margin-left:1%;
  padding:0 1%;
}

.row .col:first-child {
  margin-left:0;
}

.span_1,
.span_2,
.span_3,
.span_4,
.span_5,
.span_6,
.span_7,
.span_8,
.span_9,
.span_10,
.span_11,
.span_12 {
  margin-left:0;
  width:100%;
}

@media screen and (min-width: 640px) {

  .col {
    float: left;
    margin-left:1%;
    padding:0 1%;
  }

  .row .col:first-child {
    margin-left:0;
  }

  .span_1 {
    width:7.41666666667%;
  }
  .span_2 {
    width:15.8333333333%;
  }
  .span_3 {
    width:24.25%;
  }
  .span_4 {
    width:32.6666666667%;
  }
  .span_5 {
    width:41.0833333333%;
  }
  .span_6 {
    width:49.5%;
  }
  .span_7 {
    width:57.9166666667%;
  }
  .span_8 {
    width:66.3333333333%;
  }
  .span_9 {
    width:74.75%;
  }
  .span_10 {
    width:83.1666666667%;
  }
  .span_11 {
    width:91.5833333333%;
  }
  .span_12 {
    margin-left:0;
    width:100%;
  }
}



/* Layout
--------------------------------------- */

body.debug::before {
  content: "default";
  font-weight: bold;
  display: block;
  text-align: right;
  background: rgba(255,255,0, 0.9);
  padding: 10px;
  position: fixed;
  top: 0;
  left: auto;
  right: 0;
  z-index: 99;
}

html, body, textarea {
  font-family: "Droid Sans", Arial, Verdana, sans-serif;
}

body {
  background: #e8e8e8;
  color: #333;
  font-size: 14px;
  padding: 10px;
  text-align: center;
}

h1, h2, h3, h4, h5, h6, p, li {
  font-size: 100%;
}

::selection {
  background: #e9e5cb;
  color: #111;
}

::-moz-selection {
  background: #e9e5cb;
  color: #111;
}

a {
  color: #bda700;
  font-weight: bold;
  text-decoration: underline;
}

a:hover,
a:focus {
  text-decoration: none;
}

input[type="text"], textarea {
  background: #f5f5f5;
  border: 1px solid #c6c6c6;
  border-bottom: 0;
  border-right: 0;
}

.access {
  display: none;
}

#page, #footer {
  margin: 0 auto;
  text-align: left
}

#page {
  background: #fff;
  -webkit-box-shadow: 0px 0px 15px 0px #c4c4c4;
  box-shadow: 0px 0px 15px 0px #c4c4c4;
}

#head {
  padding-right: 2%;
}

#logo {
  padding: 10px 0;
}

#meta {
  display: none;
  float: right;
}

#meta img {
  display: block;
  float: right;
  margin: 10px;
}

#navigation-main,
#teaser, #teaser .col {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
}

#navigation-main h3 {
  display: none;
}

#navigation-main ul,
#navigation-main li {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

#navigation-main, 
#navigation-main a {
  color: #010101;
}

#navigation-main a,
#navigation-main span {
  background: #bda700;
  display: block;
  font-weight: bold;
  margin-bottom: 1px;
  padding: 5px 10px;
  text-decoration: none;
}

#navigation-main a:hover,
#navigation-main li:hover a {
  background: #7d7d7d;
  color: #fff;
}

#navigation-main li.has-sub a,
#navigation-main li.has-sub span {
  background-image: url('../img/nav-arrow-down.png');
  background-repeat: no-repeat;
  background-position: right center;
}

#navigation-main li ul {
  display: none;
  font-size: 12px;
}

#navigation-main li.has-sub:hover ul {
  display: block;
  width: 100%
}

#navigation-main li ul a,
#navigation-main li ul span {
  background: #878787 !important;
  color: #fff;
  font-weight: normal;
}

#navigation-main li:hover ul a:hover,
#navigation-main li ul a:hover {
  background: #333 !important;
}

#main {
  padding: 20px 10px;
}

#main ul {
  margin: 0.3em 0 1em 1em;
}

#sidebar {
  border-top: 1px solid #ccc;
  margin-top: 20px;
  padding-top: 20px;
}

#sidebar aside {
  background: transparent url('../img/dot-dark.png') repeat-x left bottom;
  margin: 10px 0;
  padding: 15px;
}

#sidebar aside.news {
  background: #f2f2f2;
}

#sidebar aside.news p {
  background: transparent url('../img/dot-dark.png') repeat-x left bottom;
  margin: 10px 0;
  padding: 0 0 10px 0;
}

#sidebar aside.news p strong {
  display: block;
}

#sidebar aside.news p.all,
#sidebar aside.social {
  background: transparent none;
  margin-bottom: 0;
}

#sidebar aside.social {
  text-align: center
}

#sidebar aside.social a {
  margin: 0 2%;
}

#content h1 {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 20px;
}

#content ul {
  margin-left: 1.5em;
}

#content .details {
  margin-left: -1.5%;
}

#breadcrumbs {
  color: #5d5d5d;
  font-size: 12px;
  padding-bottom: 10px;
  padding-top: 20px;
}

#breadcrumbs div {
  float: left;
}

.prev-next {
  border-top: 1px solid #ccc;
  display: block;
  font-weight: bold;
  margin: 0 auto;
  padding-top: 20px;
  position: relative;
  text-align: left;
  width: 100%;
}

.prev-next a {
  float: none;
  display: block;
  padding: 5px 0;
}

#opts, #opts a {
  color: #333;
  display: block;
  font-weight: normal;
  text-decoration: none;
}

#opts {
  clear: both;
  font-size: 12px;
  padding-top: 30px;
}

#opts a {
  background: transparent url('../img/opts-ico.png') no-repeat left -2px;
  float: left;
  padding-left: 22px;
}

#opts .top {
  background-position: right -62px;
  float: right;
  padding: 0 18px 0 0;
  text-align: right;
}

#footer {
  font-size: 12px;
}

#footer, #footer a {
  color: #333;
  font-weight: normal;
}

#navigation-footer {
  padding: 15px 0;
  text-align: center;
}

#navigation-footer a,
#navigation-footer span {
  margin: 0 3px;
  text-decoration: none;
}

#copy .col {
  margin: 10px 0;
  text-align: center;
}

#copy .copy-box-1 img {
  max-width: 111px;
}

#copy .copy-box-2 strong {
  display: block;
  margin-bottom: 3px;
}

#copy .copy-box-3 {
  margin-top: 20px;
}

#copy .copy-box-3 img {
  max-width: 356px;
}

#copy .copy-box-3 span {
  display: block;
}

#sidebar #hotline {
  background: #bda700 url('../img/hotline.png') no-repeat 10px center;
  font-size: 14px;
  padding-left: 43px;
}

#sidebar h1 {
  margin-bottom: 10px;
}

#sidebar #hotline strong {
  display: block;
  font-size: 12px;
  margin-bottom: 2px;
}

#sidebar #textresize,
#sidebar #smallcontact {
  background: transparent;
}

#sidebar #textresize {  
  font-size: 12px;
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 20px;
}

#sidebar #textresize span,
#sidebar #textresize a {
  display: block;
  float: left;
  padding: 5px 5px 3px 0;
}

#sidebar #textresize a {
  color: #333;
  padding: 3px 5px;
  text-decoration: none;
}

.small #sidebar #textresize .small,
.medium #sidebar #textresize .medium,
.large #sidebar #textresize .large {
  background: #bda700;
  color: #fff;
}

.medium #sidebar #textresize .small {
  margin-top: 2px;
}

.medium #sidebar #textresize .medium {
  font-size: 14px;
}

.medium #sidebar #textresize .large {
  font-size: 16px;
}

#sidebar input[type="text"], #sidebar textarea {
  display: block;
  padding: 3px 2%;
  width: 96%;
}

.remember,
#sidebar .remember,
#sidebar .filter {
  background: #f8f6e5;
  font-size: 12px;
  margin: 10px 0;
}

#sidebar .remember {
  padding: 0;
}

#sidebar .filter {
  font-size: 14px;
}

#sidebar .filter strong {
  display: block;
  margin-bottom: 3px;
}

.remember a {
  background: transparent url('../img/remember-btn.png') no-repeat 10px center;
  color: #333;
  display: block;
  font-weight: bold;
  padding: 15px 10px 15px 40px;
  text-decoration: none;
}

#sidebar .remember a {
  background-position: 13px center;
  padding: 15px 10px 15px 43px;
}

.remember a:hover {
  color: #bda700;
}

#sidebar #map {
  padding: 0 0 10px;
}

#sidebar form label {
  display: block;
  font-weight: bold !important;
  margin-bottom: 2px;
}

#sidebar .captcha {
  margin-bottom: 10px;
}

#sidebar #filter {
  font-size: 13px;
}

#sidebar #filter aside {
  overflow: hidden;
}

#sidebar #filter label {
  display: block;
  font-weight: normal !important;
  line-height: 16px;
  padding: 2px 0 2px 18px;
  position: relative;
}

#sidebar #filter label input {
  left: 0;
  position: absolute;
  top: 3px;
}

#sidebar #filter label:hover,
#sidebar #filter label.active {
  color: #bda700;
}

#sidebar #filter label.active {
  font-weight: bold !important;
}

#results header h1 {
  font-size: 17px;
  margin: 0;
}

#results header .sort {
  font-size: 12px;
  padding-bottom: 15px;
  padding-top: 0;
}

#results header .sort span {
  font-weight: bold;
}

#results header .sort a {
  color: #999;
  margin-left: 4px;
  text-decoration: none;
}

#results header .sort a:hover,
#results header .sort .active {
  color: #bda700;
}

#results header .sort .active {
  font-weight: bold;
}

table {
  border: 0 none;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  padding: 0;
  width: 100%;
}

table thead th,
table tbody td {
  padding: 5px 1%;
}

table thead th {
  background: #828282;
  color: #fff;
  font-size: 14px;
  padding: 10px 1%;
}

table tbody .even td {
  background: #f2f2f2;
}

#results table {
  font-size: 12px;
}

.paging {
  font-size: 12px;
  padding: 25px 0 10px;
  text-align: center
}

.paging a, .paging span {
  padding: 3px 8px;
  text-decoration: none;
}

.paging .active {
  background: #bda700;
  color: #fff;
}

/* frontpage */

#front .news section {
  background: #f2f2f2;
  display: block;
  margin: 1px 0;
  padding: 2%;
}

#front .news section img {
  float: left;
  margin: 3px 10px 10px 0;
  width: 20%;
  max-width: 70px;
}

#front #toggle {
  display: block;
  margin: 0 !important;
  padding: 0 !important;
}

#front #toggle .toggle {
  background: #fafafa;
  color: #828282;
  cursor: pointer;
  display: block;
  float: left;
  font-size: 15px;
  margin-right: 2px;
  padding: 8px 3%;
}

#front #toggle .toggle.active {
  background: #bda700;
  color: #fff;
}

#front #search {
  margin-bottom: 20px;
}

#front #searchform {
  background: #bda700;
  clear: both;
  padding: 15px 3%;
}

#front #searchform .searchbox,
#front #searchform .searchbox a {
  color: #fff;
}

#front #searchform .searchbox a {
  text-decoration: underline;
}

#front #searchform .searchbox a:hover {
  text-decoration: none;
}

#front #searchform .searchbox h2 {
  font-size: 16px;
  margin-bottom: 10px;
}

#front #searchform .searchbox p {
  margin: 6px 0;
  overflow: hidden;
}

#front #searchform .searchbox label,
#front #searchform .searchbox input,
#front #searchform .searchbox select {
  display: block;
  float: left;
  padding: 3px 2%;
}

#front #searchform .searchbox label {
  padding-left: 0;
  width: 30%;
}

#front #searchform .searchbox input,
#front #searchform .searchbox select {
  width: 60%;
}

#front #searchform .searchbox p.subm {
  margin-left: 32%;
}

#front #searchform .searchbox p button {
  background: #464646 url('../img/btn-bg.png') repeat-x left top;
  border: 1px solid #5e5e5e;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  padding: 6px 15% 7px;
  text-align: center;
}

#front #infobox,
#front #topsearch {
  background: #f8f6e5;
}

#front #topsearch {
  float: right;
}

#front #topsearch ul,
#front #topsearch ul li {
  list-style: none;
  margin: 10px 0 0;
  padding: 0;
}

#front #topsearch .col-wrap {
  padding: 15px 3%;
}

#front #topsearch ul li {
  margin: 4px 0;
}

#front #topsearch ul small {
  color: #747474;
  font-size: 12px;
}

#coursesearch #search label,
#coursesearch #search input,
#coursesearch #search button {
  float: left;
}

#coursesearch #search label {
  float: left;
  font-size: 15px;
  font-weight: 200;
  margin: 10px 25px 0 0;
  width: auto;
}

#coursesearch #search input {
  background: #f5f5f5;
  border-width: 1px;
  margin-right: 8px;
  padding: 10px 10px;
  width: 73.7%;
}

#coursesearch #search button {
  background: transparent url('../img/search-small-btn.png') no-repeat center center;
  border: 0 none;
  display: block;
  margin-top: -1px;
  text-align: left;
  text-indent: -999999px;
  padding: 12px 2%;
  width: 7%;
}

.options {
  background: #f5f5f5;
  font-size: 12px;
  margin: 10px 0 30px;
  overflow: hidden;
}

.options .options-wrap {
  margin-top: -1px;
}

.options .row {
  background: transparent url('../img/dot-dark.png') repeat-x left top;
  padding-bottom: 9px;
  padding-top: 14px;
}

.options .row .col {
  padding-bottom: 5px;
}

.options .row input[type="text"] {
  background: #fff;
}

.options .row .span_7 {
  font-weight: bold;
}

.options .row .span_7 small {
  color: #888;
  display: block;
  font-weight: normal;
}

/* frontpage */

@media screen and (min-width: 640px) {

  body.debug::before {
    content: "small screen";
  }

  #head {
    padding: 0;
  }

  #logo {
    padding: 0;
  }

  #meta {
    display: block;
  }

  #copy .col {
    text-align: left;
  }

  #copy .copy-box-3 {
    position: relative;
  }

  #copy .copy-box-3 span {
    display: block;
    left: 0;
    padding-left: 5%;
    position: absolute;
    top: -3px;
  }

  .remember a {
    background-position: left center;
    padding: 5px 10px 5px 30px;
  }

  #content .remember {
    display: none;
  }

  #sidebar {
    border-top: 0;
    margin-top: 5px;
    padding-top: 0;
  }

  .prev-next {
    border: 0 none;
  }

  #results header {
    padding-bottom: 10px;
  }

  #results header .sort {
    float: right;
    font-size: 12px;
    padding: 8px 0 0 0;
    text-align: right;
  }

}

/*  Desktop
--------------------------------------- */

@media screen and (min-width: 800px) {



  body.debug::before {
    content: "desktop";
  }

  #page, #footer {
    margin: 0 auto;
    max-width: 1024px;
  }

  #meta img {
    display: block;
    float: right;
    margin: 10px;
  }
  
  h2 {
    margin-bottom: 3px;
  }

  #footer {
    padding: 15px 0;
  }

  #navigation-footer {
    padding-bottom: 20px;
  }

  #navigation-main {
    background: #bda700;
    display: block;
    width: auto;
  }

  #navigation-main ul {
    padding: 10px 0;
  }

  #navigation-main li,
  #navigation-main li a,
  #navigation-main li span {
    background: transparent;
    display: block;
    float: left;
    margin: 0;
    width: auto;
  }

  #navigation-main li {
    border-left: 1px solid #5e5300;
    position: relative;
  }

  #navigation-main li:first-child {
    border-left: 0 none;
  }

  #navigation-main li a,
  #navigation-main li span {
    padding: 4px 10px;
  }

  #navigation-main li.has-sub a,
  #navigation-main li.has-sub span {
    background: transparent;
  }

  #navigation-main li ul {
    display: none;
  }

  #navigation-main li:hover ul {
    background: #818181;
    background: rgba(129,129,129,0.95);
    display: block;
    left: 0;
    padding: 10px;
    position: absolute;
    top: 100%;
    width: 200px;
  }

  #navigation-main li a:hover,
  #navigation-main li:hover a,
  #navigation-main li:hover span {
    background: rgba(129,129,129,0.95);
    color: #fff;
  }

  #navigation-main li:hover li a,
  #navigation-main li:hover li span {
    background: transparent !important;
  }

  #navigation-main li ul li,
  #navigation-main li ul a,
  #navigation-main li ul span {
    float: none;
  }

  #navigation-main li ul li {
    background: transparent url('../img/dot-light.png') repeat-x left bottom;
    border: 0 none;
  }

  #navigation-main li ul a,
  #navigation-main li ul span {
    padding: 8px 5px;
  }

  .prev-next {
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .prev-next .col {
    float: left;
    text-align: center;
  }

  .prev-next .prev {
    float: left;
    text-align: left;
  }

  .prev-next .next {
    float: right;
    text-align: right;
  }
  
}