
<head>  </head>
<body>
<fieldset>
<div class="losts index">
    <h2><?php echo __('Losts'); ?></h2>
<?php echo $this->Form->create('Lost');
    echo $this->Form->input('Tiere', array(
    'type' => 'select',
    'options' => $losts,
    'empty' => 'Tier auswählen')); ?>
    <p>
        <?php echo $this->Form->end(__('Weiter')) ?>
    </p>
    </fieldset>


<p><?php echo __('Ist Ihr Tier noch nicht registriert?'); ?></p>
<ul>
    <li><?php echo $this->Html->link(__('Neues Tier anlegen'), array('controller'=> 'pets', 'action' => 'add')); ?></li>
</ul>
</div>
</body>
<?php

?>
